#  Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .DS_Store files
.DS_Store

# tardigrade-ci
.tardigrade-ci
tardigrade-ci/

# terraform lock file
.terraform.lock.hcl

# Cache created by pytest
__pycache__/
.pyc
